body{
    background-color: rgb(26,44,56);
}

#pagina{
    border-radius: 1pc;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(15,33,46);
    color: rgb(163,186,211);
}

.botoes{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 4px;
    box-shadow: 2px 5px 3px rgb(33,55,67);
}

#retirar{
    background-color: rgb(0,231,1);
    width: 19pc;
    height: 4.5pc;
    color: rgb(31, 46, 56);
    font-size: 1pc;
    margin-top: 3pc;
    border-radius: 6px;
}

#informacao{
    border-top-left-radius: 1pc;
    border-bottom-left-radius: 1pc;
    background-color: rgb(33,55,67);
}

#tabela{
    margin-left: 20%;
    margin-bottom: 40px;
}

#caixa{
    margin-top: 40px;
    font-size: 25px;
    color: rgb(163,186,211);
}

#valorAposta{
    font-size: 15px;
    margin-top: 5pc;
    margin-right: 12pc;
    color: rgb(163,186,211);
}

#aposta{
    width: 19pc;
    background-color: rgb(26,44,56);
    color: rgb(163,186,211);
    border-radius: 5px;
}

#ganho{
    margin-top: 15px;
}
